@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-roboto), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
